div[id*="Module"] {
    border: 3px solid black;
    margin: 5px;
}

div[id*="Module"] h3 {
    margin: 0;
    padding: 3px;
}

.param-interface {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.slider-container {
    display: inline-block;
}

.vertical-slider {
    display: block;
    width: 30px;
    height: 175px;
    -webkit-appearance: slider-vertical;
}

.slider-label {
    display: block;
    text-align: center;
}

.options-select {
    display: block;
    margin-bottom: 10px;
}

button {
    position: relative;
    bottom: 0;
}