div[id*="OscModule"] {
    border: 3px solid black;
    height: 14rem;
}

div[id*="OscModule"] h3 {
    margin: 0;
    padding: 3px;
}

.osc-interface {
    margin: 5px;
}

.vertical-slider {
    position: absolute;
    height: 175px;
    transform: rotate(270deg);
    left: -23px;
}

button {
    position: relative;
    bottom: 0;
}